@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
*{
    box-sizing: border-box;
    padding :0;
    margin : 0;
    color:#d1fad1;
}

h1 {
    font-size:60px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#d1fad1;
    
}

.BigTitle {
    color: lightblue;
}

.homework {
    width : 1280px;
    height : 1000px;
    border : 1px solid white
    
}

.topitem {
    display: flex 
    justfy-content = end ;
}

.Top {
    width: 100%;
    height: 100vh;
    color : #000000;
    background-color: cornsilk;
    background-image: url('69629287_2502256596500136_5559402923458297856_o.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.aboutme{
width: 100%;
height: 100vh;
display: flex;
background-color: cornsilk;
}

.right{
width: 50%;
background-color: blue;
background-image: url('44357099992_4bcfe1d007_o.jpg');
background-position: center;
background-size: cover;
display: flex;
/* justify-content: flex-end;*/
flex-direction: column;
align-items: end;

}

.rightword{
    width: 50%;
    background-color: blue;
    
    background-size: cover;
    display: flex;
    /* justify-content: flex-end;*/
    flex-direction: column;
    align-items: end;
    
    }


.left{
width: 50%;
background-color: deepskyblue;
background-image: url('download.jpg');
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
}